* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(149, 203, 253), pink);
}

.main {
    flex: 0 1 70%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
}

.left {
    flex: 1 1 35%;
    background-image: url("../img/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.right {
    display: flex;
    align-items: center;
    flex: 1 1 65%;
    background-color: #f1f1f1;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0em;
}

.hero-heading {
    background-color: rgba(0, 0, 0, 0.5);
    height: 15%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(2rem + 2vw);
}

.container {
    background-color: aliceblue;
    border-radius: 1em;
    margin: 0px;
}

h1 {
    margin: 0px 0px;
    font-size: calc(2rem + 2vw);
}

form {
    align-self: stretch;
}

fieldset {
    background-color: white;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

label > input {
    display: block;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.error {
    font-size: 0.8em;
    color: red;
}